@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Reset */
* {
    box-sizing: border-box;
}

/* General */
html, body{
    font-family: 'Montserrat', sans-serif;
    background: #40916c;
    color: #FFFFFF;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

#navbar a{
    color: #FFFFFF;

}

#navbar .icon{
    float: right;
    display: block;
    padding: 20px 40px;
}

#navbar .icon img{
    width: 100px;
}

#navbar ul{
    list-style: none;
    text-transform: uppercase;
    float: left;
}

#navbar ul li{
    float: left;
}

#navbar ul li a{
    padding: 20px;
    display: block;
    text-align: center;
}

#navbar ul li a:hover{
    background: #74C69D;
}


/* Header & Container*/
header{
    padding: 20px;
    background: #1B4332;
}

.container{
    margin: auto;
    max-width: 1300px;
    overflow: auto;
    padding: 0 10px;
}

/* Home */
#home{
    width: 100%;    
}

.home-img{
    float: right;
    width: 50%;
    padding: 50px 0;
}

.home-img img{
    width: 95%;
}

.home-title{
    float: left;
    width: 50%;
    padding: 10px 20px;
    text-align: center;
}

.home-title h1{
    font-size: 40px;
}

.home-title h2{
    font-size: 25px;
    text-align: center;
}

/* Evento */
#evento{
    width: 100%;
}

.evento-title{
    float: right;
    width: 50%;
    padding: 10px 20px;
    text-align: justify;
}

.evento-title h1{
    font-size: 40px;
    text-align: center;
}

.evento-title p{
    font-size: 1.25rem;
    padding-bottom: 50px;
}

.evento-video{
    float: left;
    width: 50%;
    padding: 100px 0 20px 0;
}

.evento-video iframe{
    width: 95%;
}

/* Nosotros */
#nosotros{
    width: 100%;    
}

.nosotros-img{
    float: right;
    width: 50%;
    padding: 100px 0 20px 0;
}

.nosotros-img img{
    width: 95%;
}

.nosotros-title{
    float: left;
    width: 50%;
    padding: 10px 20px;
    text-align: center;
}

.nosotros-title h1{
    font-size: 40px;
}

.nosotros-title h2{
    font-size: 25px;
}

.nosotros-title p{
    font-size: 1.25rem;
    text-align: justify;
}

/* Registro */
#registro{
    width: 100%;
    padding: 50px;
}

.registro-title{
    float: left;
    width: 50%;
    padding: 0.4rem 0.7rem;
    text-align: center;
}

.registro-form{
    float: right;
    width: 50%;
    padding: 20px;
}

form .form-group{
    margin-bottom: 1rem;
}

form .form-control{ /* inputs (cajas para el texto)*/
    width: 100%;
    padding: 0.4rem 0.7rem;
    font-size: 1rem;
    line-height: 1.7;
    border: none;
}

/* BotonForm */
.btn{
    font-size: 15px;
    padding: 15px 25px;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 4px;
    margin-top: 10px;
}

.btn-light{
    background: #1B4332;
    border: 1px solid #2D6A4F;
    color: #FFF;
    width: 100%;
}

.btn-light:hover{
    background: #FFF;
    border: 1px solid #2D6A4F;
    color: #2D6A4F;
}

/* Clima */
#clima{
    width: 100%;
    padding: 50px;
}

.clima-title{
    float: left;
    width: 100%;
    padding: 0.4rem 0.7rem;
    text-align: center;
}

.clima-title h1{
    padding: 10px 20px;
    text-align: center;
}

.clima-widget{
    float: right;
    background-color: #1B4332;
    padding: 5px;
    margin-right: 100px;
    min-height:100px;
    min-width: 200px;
}

.clima-whatsapp{
    float: right;
    width: 30%;
    text-align: center;
}

.climaContent-title {
    width: 100%;
    font-size: 1.3em;
   /* border: 1px solid red; */
}

.climaContent-icon{
    float: left;
    clear: left;
 /* border: 1px solid white; */
}

.climaContent-temp{
    float: left;
    padding-top: 40px;
    font-size: 2em;
 /* border: 1px solid blue; */ 
}
